<ng-container *ngFor="let item of products.types">
  <app-products-showcase
    title="{{ item.name }}"
    [products]="item.data"
    [icon]="item.icon"
    [call]="call"
    (addProduct)="addProduct($event)"
    (removeProduct)="removeProduct($event)"
  ></app-products-showcase>
</ng-container>
<div class="flex items-center">
  <ion-item class="w-1/2 h-full">
    <ion-label position="stacked">Comentários</ion-label>
    <ion-textarea
      placeholder="Detalhe por que este seria um possível cliente"
      [(ngModel)]="call.description"
      class="min-h-[5rem]"
    ></ion-textarea>
  </ion-item>
</div>
