<ion-card class="h-[10rem]">
  <div class="flex flex-col items-center justify-evenly w-full h-full">
    <p class="text-primary font-bold text-[0.8rem]">{{ product.title }}</p>
    <ion-icon class="py-1" color="primary" size="large" name="{{ icon }}"></ion-icon>
    <p class="text-[1.1rem] text-black font-bold">R$ {{ product.price }}</p>
    <div class="flex items-center">
      <div>{{ find() }}</div>
      <p>{{ product.quantity ? product.quantity : 0 }}</p>
    </div>
    <p class="text-[0.6rem]">Mais detalhes</p>
  </div>
</ion-card>